.badge {
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  margin: 0 0.5rem 0.5rem 0;
}

.badges-pnl {
  align-items: center;
  display: inline-flex;
}

.card {
  background-color: unset;
}

.border {
  border: unset !important;
}