.badge {
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  margin: 0 0.5rem 0.5rem 0;
}

.badges-pnl {
  align-items: center;
  display: inline-flex;

  h3 {
    color: #b6b6b6;
  }
}

.card {
  background-color: unset;
}

.card-title {
  color: #C5A483
}

.border {
  border: unset !important;
}

.contact {
  flex: 0
}