section {
  padding: 1rem 0;
}

@include media-breakpoint-up(md) {
  .container-fluid {
    padding: 0 32px;
  }
}

.typist {
  justify-content: center;
}

.contact-data {
  align-items: center;
  display: inline-flex;
}

.avatar {
  border-radius: 50%;
}

.company-name {
  color: #9cb456
}

.company-achievement-list {
  text-align: left;
}

.skill-list {
  list-style-type: none;
}