body {
  font-family: 'Fira Mono', monospace;
  color: #b6b6b6;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  color: #c17326;
}

h4, h5, h6 {
  color: #C5A483
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

p {
  color: #b6b6b6;
}

p strong {
  font-weight: 500;
}

a {
  color: #7097bc !important;
}

a:hover {
  color: #669bf9 !important;
  text-decoration: none;
}
